---
title: Coding for a Cause
---

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>Coding for a Cause</h1>
          <h2>Spicewood Coding Club</h2>
        </header>

        <hr>

        <section id="main_content">
          <h3><a class="anchor" aria-hidden="true"></a>
            We will be taking ACTION in our community by donating all club proceeds to a local charity
          </h3>
            
          <p>
          Spicewood Coding Club is open to all grades K-5.
          We host three 8-week sessions, on Mondays after school.
          Signup is conducted in the fall through the <a href="https://drive.google.com/drive/folders/0B4dQ0xe3hYqlNUdlT2I2VkEwT0E" target="_blank">Friday Folder</a>.
          </p>

          <p>
          Sponsors: Mrs. Haney, NextGen Teachers - Ms. Keating, Mrs. Pierce,
          Mrs. Martinez, Mrs. Dielmann, and parent volunteer, Matt Walker.
          </p>

          <p>
          Coding Club is in its fourth year at Spicewood.  It originated as an
          after school program for kindergartners using
          <a href="https://code.org" target="_blank">Code.org</a>
          and has since expanded to include all grades and a variety of coding
          curricula.  Coding Club is a fun way for kids to learn to program a
          computer.
          </p>

          <h3><a class="anchor" aria-hidden="true"></a>
            Resources for learning to code
          </h3>

          <ul>
            <li><a href="https://code.org/">Code.org</a> (<a href="https://studio.code.org/s/course1">Course 1</a>)</li>
            <li><a href="https://scratch.mit.edu/">Scratch</a> (our <a href="https://scratch.mit.edu/studios/972878/">studio</a>)</li>
            <li><a href="https://www.scratchjr.org/">ScratchJr</a> (iPad app)</li>
            <li><a href="http://ozoblockly.com/">OzoBlockly</a></li>
          </ul>

        </section>

        {% include footer.html %}

      </div>
    </div>
  </body>
</html>
