---
title: Coding After School
---

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>Coding After School</h1>
          <h2>Spicewood Coding Club</h2>
        </header>

        <hr>

        <section id="main_content">
            <prompt>
              <h2>What grade are you in?</h2>
            </prompt>

            {% include buttons.html %}

            <p style="margin-top: 120px;"><small>None, I'm a <a href="/parents">parent</a></small></p>

            <hr>

            <p>
            Coding After School is a programming club for kindergarteners and
            first graders at Spicewood Elementary.  Inspired by the success of
            the Hour of Code and based on the same educational software and
            curriculum from Code.org, Coding After School is a fun way for kids
            to learn to program a computer.
            </p>

        </section>

        {% include footer.html %}

      </div>
    </div>
  </body>
</html>
