---
title: Resources
---

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <div id="container">
      <div class="inner">

        {% include header.html %}

        <section id="main_content">
          <h3><a id="welcome" class="anchor" href="#welcome" aria-hidden="true"></a>Resources for learning to code</h3>

            <ul>
              <li><a href="http://code.org/">Code.org</a> (<a href="http://studio.code.org/s/course1">Course 1</a>)</li>
              <li><a href="http://scratch.mit.edu/">Scratch</a> (our <a href="http://scratch.mit.edu/studios/972878/">studio</a>)</li>
              <li><a href="http://www.scratchjr.org/">ScratchJr</a> (iPad app)</li>
            </ul>

        </section>

        {% include footer.html %}

      </div>
    </div>
  </body>
</html>
