---
title: STEAM Day
excerpt:
        <p>
          <ul>
            <li>2nd and 3rd&#58; <a href="http://scratch.mit.edu/projects/49268372/">rocket-launch</a></li>
            <li>4th and 5th&#58; <a href="http://scratch.mit.edu/projects/51288770/">letter-zap</a></li>
          </ul>

          Come join us at Spicewood's Science, Technology, Engineering, Art,
          and Mathematics Day for fun learning to program using <a
            href="http://scratch.mit.edu/">Scratch</a>.  STEAM Day gives
          students a chance to get some hands-on experience with science and
          technology by rotating through a variety of 30 minute sessions around
          the school.
        </p>
---

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <div id="container">
      <div class="inner">

        {% include header.html %}

        <section id="main_content">
          <h3><a id="welcome" class="anchor" href="#welcome" aria-hidden="true"></a>STEAM Day</h3>

          <ul>
            <li>2nd and 3rd&#58; <a href="http://scratch.mit.edu/projects/49268372/">rocket-launch</a></li>
            <li>4th and 5th&#58; <a href="http://scratch.mit.edu/projects/51288770/">letter-zap</a></li>
          </ul>

          <p>
          Come join us at Spicewood's Science, Technology, Engineering, Art,
          and Mathematics Day for fun learning to program using <a
            href="http://scratch.mit.edu/">Scratch</a>.  STEAM Day gives
          students a chance to get some hands-on experience with science and
          technology by rotating through a variety of 30 minute sessions around
          the school.
          </p>

          <p>
          We'll be setup in the library using our netbooks for paired
          programming.  Though Scratch isn't the programming tool we'll be
          using for Coding After School, it is similar in spirit to the tools
          we'll be using at Code.org.  Code.org serves as a more directed
          learning experience while Scratch is much more open-ended, a nice
          take-home complement to Coding After School.
          </p>

        </section>

        {% include footer.html %}

      </div>
    </div>
  </body>
</html>
