---
title: Putting It All Together (Scratch)
excerpt:  <p>
            <a href="http://scratch.mit.edu/projects/49268372/"><img src="/images/rocket-launch.png"/></a>
            <a href="http://scratch.mit.edu/projects/51288770/"><img src="/images/letter-zap.png"/></a>
            <a href="http://scratch.mit.edu/projects/51999756/"><img src="/images/dress-up.png"/></a>
            <a href="https://scratch.mit.edu/projects/53695848/"><img src="/images/gunner.png"/></a>
          </p>

          The culmination of the spring 2015 kinder coding club is learning to
          write our own games using the website called <a href="https://scratch.mit.edu/studios/972878/">Scratch</a>.
          Scratch is designed for kids 8 and older, but we think you are ready
          for it now, with maybe just a little help from us and your parents.
---

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <div id="container">
      <div class="inner">

        {% include header.html %}

        <section id="main_content">
          <h3><a class="anchor" aria-hidden="true"></a>Putting It All Together (Scratch)</h3>

          <p>
            <a href="http://scratch.mit.edu/projects/49268372/"><img src="/images/rocket-launch.png"/></a>
            <a href="http://scratch.mit.edu/projects/51288770/"><img src="/images/letter-zap.png"/></a>
            <a href="http://scratch.mit.edu/projects/51999756/"><img src="/images/dress-up.png"/></a>
            <a href="https://scratch.mit.edu/projects/53695848/"><img src="/images/gunner.png"/></a>
          </p>

          <p>
          The culmination of the spring 2015 kinder coding club is learning to
          write our own games using the website called <a href="https://scratch.mit.edu/studios/972878/">Scratch</a>.
          Scratch is designed for kids 8 and older, but we think you are ready
          for it now, with maybe just a little help from us and your parents.
          </p>

          <p>
          We aren't going to start without any guidance.  Instead, we've built
          a variety of example games which we'll be “remixing” to add our own
          twists and fun.
          </p>

          <p>
          Here are the example games you can choose from:
          <ul>
            <li>
              <p>
                <a href="http://scratch.mit.edu/projects/49268372/">rocket-launch</a>
                <br/>
                <a href="http://scratch.mit.edu/projects/49268372/"><img src="/images/rocket-launch.png"/></a>
              <p>
              <p>
              Rocket launch is the simplest of our examples and a great place
              to start learning Scratch.  To understand how it works, you
              really only need to look at the rocket's scripts.
              </p>
            </li>
            <li>
              <p>
                <a href="http://scratch.mit.edu/projects/51288770/">letter-zap</a>
                <br/>
                <a href="http://scratch.mit.edu/projects/51288770/"><img src="/images/letter-zap.png"/></a>
              </p>
              <p>
              Letter zap adds more sophisticated interaction between two
              sprites on top of what we used for rocket launch.  It also keeps
              track of your progress using a variable.
              </p>
            </li>
            <li>
              <p>
                <a href="http://scratch.mit.edu/projects/51999756/">dress-up</a>
                <br/>
                <a href="http://scratch.mit.edu/projects/51999756/"><img src="/images/dress-up.png"/></a>
              </p>
              <p>
              Dress up isn't much more complicated than letter zap, but it adds
              many more moving parts since there are several models, dresses,
              and backdrops.  It also adds music to make the game more fun.
              </p>
            </li>
            <li>
              <p>
                <a href="https://scratch.mit.edu/projects/53695848/">gunner</a>
                <br/>
                <a href="https://scratch.mit.edu/projects/53695848/"><img src="/images/gunner.png"/></a>
              </p>
              <p>
              Gunner is a two player game just for fun.  It has the
              interactions of letter zap with the sprite complexity of dress
              up, so it's probably best saved for last.
              </p>
            </li>
          </ul>
          </p>

          <p>
          These examples are collected into a <a href="https://scratch.mit.edu/studios/972878/">studio</a>
          that we'll be using to showcase the work of Spicewood students.  If you
          make something you're proud of, be sure to email us a link and we'll
          add it to the studio for your friends to see.
          </p>

        </section>

        {% include footer.html %}

      </div>
    </div>
  </body>
</html>
