---
title: Kickoff First Grade Sessions
excerpt:  Last year, the Spicewood Coding Club was only open to kindergarteners
          as we did a trial run.  This year, we're running two first grade
          sessions in the fall and another kindergarten session in the spring.
---

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <div id="container">
      <div class="inner">

        {% include header.html %}

        <section id="main_content">
          <h3><a class="anchor" aria-hidden="true"></a>Kickoff First Grade Sessions</h3>

          <p>
          Last year, the Spicewood Coding Club was only open to kindergarteners
          as we did a trial run.  This year, we're running two first grade
          sessions in the fall and another kindergarten session in the spring.
          </p>

          <p>
          This year we're lucky to have access to the iPads in Ms. Ormont's
          <a href="https://roundrockisd.org/calling-all-trailblazers-next-gen-classrooms/">Next Generation Digital Classroom</a>,
          which opens up a new set of apps for learning to code including
          Kodable and ScratchJr.
          </p>

          <p>
          Signup is open now; check back here for more details.
          </p>

        </section>

        {% include footer.html %}

      </div>
    </div>
  </body>
</html>
