---
title: Kickoff Course 1
excerpt: <a href="http://studio.code.org/sections/SGHOZI">
            <img src="http://studio.code.org/assets/banner_course1_cropped-d70ce686a31a151d692013a511d11f0e.jpg"/>
         </a>

         At Coding After School, we'll be studying Course 1 from Code.org.
         We're going to start simple and work our way up to building our own
         game over the course of the spring semester.
---

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <div id="container">
      <div class="inner">

        {% include header.html %}

        <section id="main_content">
          <h3><a id="welcome" class="anchor" href="#welcome" aria-hidden="true"></a>Kickoff Course 1</h3>

          <a href="http://studio.code.org/sections/SGHOZI">
            <img src="http://studio.code.org/assets/banner_course1_cropped-d70ce686a31a151d692013a511d11f0e.jpg"/>
          </a>

          <p>
          At Coding After School, we'll be studying Course 1 from Code.org, a
          course for early readers ages 4-6.  We're going to start simple and
          work our way up to building our own game over the remainder of the
          spring semester.
          </p>

          <p>
          For our first class, we'll dive in by heading to our <a
            href="http://studio.code.org/sections/SGHOZI">section site</a> and logging
          in.
          </p>

        </section>

        {% include footer.html %}

      </div>
    </div>
  </body>
</html>
