---
title: Parents
---

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <div id="container">
      <div class="inner">

        {% include header.html %}

        <section id="main_content">
          <h3>
            <a class="anchor" href="#welcome" aria-hidden="true"></a>Is Your Child Coding After School?</h3>

            <p>
            Coding After School is a programming club for kindergarteners at
            Spicewood Elementary.  Inspired by the success of the Hour of Code and
            based on the same educational software and curriculum from Code.org,
            Coding After School is a fun way for kids to learn to program a computer.
            </p>

            <p>
            We are meeting weekly for one hour after school to learn to code.
            Day of week and location are TBD.  Your child will be escorted to
            the front of the school when it is time to go.
            </p>

            <p>
            If you have any questions, please contact Matt Walker or Julie
            Haney:
            </p>

            <ul>
              <li>matt.r.walker@gmail.com</li>
              <li>julie_haney@roundrockisd.org</li>
            </ul>

        </section>

        {% include footer.html %}

      </div>
    </div>
  </body>
</html>
