---
title: Parents
---

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <div id="container">
      <div class="inner">

        {% include header.html %}

        <section id="main_content">
          <h3>
            <a class="anchor" aria-hidden="true"></a>Is Your Child Coding After School?</h3>

            <p>
            Coding After School is a programming club for kindergarteners and
            first graders at Spicewood Elementary.  Inspired by the success of
            the Hour of Code and based on the same educational software and
            curriculum from Code.org, Coding After School is a fun way for kids
            to learn to program a computer.
            </p>

            <p>
            The club should motivate students to learn and practice programming
            on their own, and they will be sent home with additional resources
            for coding outside the club.
            </p>

            <p>
            We will be running two sessions for first graders in the fall 2015
            semester, meeting on Mondays from 2:45­3:30 pm.  Space is limited
            to 24 students.  First preference registration will try to be
            honored.  We will communicate which session your child will be in.
            Your child will be escorted to the front of the school when it is
            time to go.
            </p>

            <p>
            Details on the spring 2016 kindergarten session will be provided
            when available.
            </p>

            <p>
            If you have any questions, please contact Julie Haney (sponsor),
            Kellie Keating (sponsor), Jaime Ormont, or Matt Walker:
            </p>

            <ul>
              <li>julie_haney@roundrockisd.org</li>
              <li>kellie_keating@roundrockisd.org</li>
              <li>jaime_ormont@roundrockisd.org</li>
              <li>matt.r.walker@gmail.com</li>
            </ul>

        </section>

        {% include footer.html %}

      </div>
    </div>
  </body>
</html>
