---
title: Silly Machines (Algorithms)
excerpt:
          Computers take instructions from programmers, but they’re very silly&#58;
          they can only do exactly what you tell them to.  When your mom tells
          you to “come to dinner,” you can easily stop what you’re doing, find
          the dinner table, turn your body toward it, walk over, pull out the
          chair, and sit down to dinner.  But a computer wouldn’t have the
          first idea of where to begin unless you clearly explain each step to
          it.
category: kinder
---

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <div id="container">
      <div class="inner">

        {% include header.html %}

        <section id="main_content">
          <h3><a class="anchor" aria-hidden="true"></a>Silly Machines (Algorithms)</h3>

          <p>
          Computers take instructions from programmers, but they’re very silly:
          they can only do exactly what you tell them to.  When your mom tells
          you to “come to dinner,” you can easily stop what you’re doing, find
          the dinner table, turn your body toward it, walk over, pull out the
          chair, and sit down to dinner.  But a computer wouldn’t have the
          first idea of where to begin unless you clearly explain each step to
          it.
          </p>

          <p>
          We're going to pretend that I'm a robot, which is like a walking
          computer.  I only know how to walk forward, turn left and turn right.
          Now, can you as a class navigate me to the table?  Where else can you
          make me walk?
          </p>

          <p>
          You've just made a real-life algorithm!  Now let's try programming
          the <a href="http://studio.code.org/s/course1/stage/1/puzzle/2">Flurbs</a>.
          </p>

        </section>

        {% include footer.html %}

      </div>
    </div>
  </body>
</html>
